<div mat-dialog-title>
    <h1>EMPLOYEE FORM</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <!-- Name -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="*Stanley" formControlName="firstName">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label >
                <input matInput type="text" placeholder="*Chen" formControlName="lastName">
              </mat-form-field>
        </div>
        <!-- Email & Birth -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="*abc@gmail.com" formControlName="email">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker" style="position: absolute; right: 0;top:0"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <!-- Gender -->
        <div class="row">
            <mat-radio-group aria-label="Select an option" style="display: flex;gap:10px" formControlName="gender">
                <mat-label> <b>Gender</b> </mat-label>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
              </mat-radio-group>
        </div>
        <!-- Education & Company -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Education</mat-label>
                <mat-select formControlName="education">
                  <mat-option *ngFor="let val of education" [value]="val">
                    {{val}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Company</mat-label >
                <input matInput type="text" placeholder="*SK Inc" formControlName="company">
              </mat-form-field>
        </div>
        <!-- EXperience & Salary -->
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label >
                <input matInput type="number" placeholder="*4" formControlName="experience">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Salary</mat-label >
                <input matInput type="number" placeholder="*65000" formControlName="salary">
              </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{ data ? 'Update' : 'Save'}}</button>
    </div>
</form>

